:root {
  --bg-color: hsl(257, 40%, 49%);
  --active: hsl(300, 69%, 71%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
}

body {
  overflow-x: hidden !important;
  background-image: url(./images/bg-desktop.svg);
  background-color: var(--bg-color);
  background-repeat: no-repeat;
}

/* Header */

.navbar {
  position: relative;
  margin-top: 40px;
  margin-left: 90px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-1 {
  position: relative;
  margin-top: 80px;
  margin-left: -60px;
}

.content-2 {
  position: relative;
  margin-top: -20px;
  width: 350px;
  margin-left: 50px;
}

.content-2 .title {
  color: #fffffc;
  line-height: 50px;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.content-2 .sub-title {
  width: 440px;
  margin-top: 20px;
  text-align: justify;
  line-height: 25px;
  font-size: 14px;
  color: #fffffc;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

#button {
  width: 155px;
  height: 45px;
  margin-top: 30px;
  border-radius: 50px;
  border: 3px solid #fffffc;
  background-color: #fffffc;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: var(--bg-color);
  font-weight: 400;
}

#button:hover {
  color: #fffffc;
  background-color: var(--active);
  border: 3px solid var(--active);
  transition: 0.6s;
}

/* Header End */

/* Social Media */

.social-media {
  flex-direction: row;
  align-items: flex-end !important;
  justify-content: end;
}

.facebook a i {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid #fffffc;
  padding-top: 2px;
}

.facebook a i:hover {
  border: 2px solid var(--active);
  background-color: transparent;
}

.bi-facebook {
  position: absolute;
  color: #fffffc;
  font-size: 20px;
  margin-left: -9px;
}

.bi-facebook:hover {
  color: var(--active);
}

.twitter a i {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid #fffffc;
  padding-top: 2px;
}

.twitter a i:hover {
  border: 2px solid var(--active);
  background-color: transparent;
}

.bi-twitter {
  position: absolute;
  color: #fffffc;
  font-size: 20px;
  margin-left: -9px;
}

.bi-instagram {
  color: #fffffc;
}

.bi-twitter:hover {
  color: var(--active);
}

.instagram a i {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid #fffffc;
  padding-top: 2px;
}

.instagram a i:hover {
  border: 2px solid var(--active);
  background-color: transparent;
}

.bi-instagram {
  position: absolute;
  color: #fffffc;
  font-size: 20px;
  margin-left: -9px;
}

.bi-instagram:hover {
  color: var(--active);
}

/* Social Media End */

/* Footer */

.attribution {
  margin-top: 50px;
}

footer p {
  font-size: 18px !important;
  font-weight: 600;
  color: #fffffc;
}

/* Footer End */
